<section>
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h5 class="text-uppercase">Totalizadores</h5>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Colaboradores</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresColaboradores }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Chamadas</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresCalls }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Ponto a Ponto</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresPeerToPeer }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Grupo</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresGroup }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Áudio</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresAudio }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Áudio e Vídeo</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresAudioVideo }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Áudio e Tela</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresAudioTela }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <p class="fw-semibold mb-1">Áudio, Vídeo e Tela</p>
              <h3 class="h4 fw-bold mb-0">{{ totalizadoresAudioVideoTela }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
