/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "color-palette";

body {
  padding-top: 65px;
  background-color: $foundation-white;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.dash-chart {
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: $skipper-blue;
}